<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sequence</th>
                <th>MemberId</th>
                <th>Password</th>
                <th>role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.sequence}"></td>
                <td th:text="${member.MemberId}"></td>
                <td th:text="${member.Password}"></td>
                <td th:text="${member.role}"></td>
                <td>
                    <a href="#" th:href="@{/member/{sequence}/edit (sequence=${member.sequence})}" class="btn btn-primary" role="button">정보 수정</a>
                </td>
                <td>
                    <a href="#" th:href="@{/member/{sequence}/delete (sequence=${member.sequence})}" class="btn btn-danger" role="button">정보 삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>

</html>