<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>


        <form th:object="${form}" method="post">
            <!-- id -->
            <input type="hidden" th:field="*{sequence}" />

            <div class="form-group">
                <label th:for="MemberId">MemberId</label>
                <input type="text" th:field="*{MemberId}" class="form-control" placeholder="Id를 수정하세요" />
            </div>
            <div class="form-group">
                <label th:for="Password">Password</label>
                <input type="number" th:field="*{Password}" class="form-control" placeholder="Password를 수정하세요" />
            </div>
            <div class="form-group">
                <label th:for="role">Role</label>
                <input type="text" th:field="*{role}" class="form-control" placeholder="role을 수정하세요" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>