<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>boardPostSequence<th>
                <th>category<th>
                <th>title<th>
                <th>author<th>
                <th>content<th>
                <th>views<th>
                <th>comment<th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardPostSequence :${boardPostList}">
                <td th:text="${boardPostSequence.boardSequence}"></td>
                <td th:text="${boardPostSequence.category}"></td>
                <td th:text="${boardPostSequence.title}"></td>
                <td th:text="${boardPostSequence.author}"></td>
                <td th:text="${boardPostSequence.content}"></td>
                <td th:text="${boardPostSequence.views}"></td>
                <td th:text="${boardPostSequence.comment}"></td>
                <td>
                    <a href="#" th:href="@{/post/{boardPostSequence}/edit (boardPostSequence=${board_Post.boardSequence})}" class="btn btn-primary" role="button">게시글 수정</a>
                </td>
                <td>
                    <a href="#" th:href="@{/post/{boardPostSequence}/delete (boardPostSequence=${board_Post.boardSequence})}" class="btn btn-danger" role="button">게시글 삭제</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> &lt;!&ndash; /container &ndash;&gt;

</body>

</html>-->
